@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --branco-principal:#ffffff;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --font-principal:"Inter", serif;
    --botao-azul-efeito:#3c92fa;
}
*{
    padding: 0;
    margin: 0;
}
body{
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--font-principal);
    font-size: 16px;
    font-weight: 400;
}
.principal{
    background-image: url(assets/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
    
}
.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__caixa{
    margin: 0 6em;
}

.container__title{
    font-size: 28px;
    font-weight: 700;
}

.container__imagem{
    margin: 1em 0 2em 0;
}
.container__bottom{
    background-color: var(--botao-azul);
    border-radius: 7px;
    padding: 1em;
    color:var(--branco-principal);
    text-decoration: none;
    display: block;
    margin-bottom: 1em;
}
.botao_secundario{
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}
.container__aviso{
    font-size: 12px;
    color: var(--cinza-secundario);
}

.secundario__imagem{
  width: 80%;  
}

.secundario{
    align-items: center;
    margin: 0 10em;
}

.descricao__title{
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-principal);
    margin-bottom: 0.1em;
}

.descricao__texto{
    color: var(--cinza-secundario);
}

.secundario__bottom{
    display: inline-block;
    margin-top: 1em;
}

.container__descricao{
    padding: 2em;
}

.dispositivos__lista{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none; /*tirar os estilos da lista */
    margin: 5em 0;
}
.dispositivos{
    text-align: center;
}

.dispositivos__title{
    font-size: 48px;
    color: var(--branco-principal);
}

.lista__item{
    font-size: 32px;
    color: var(--branco-principal);
}

.rodape{
    text-align: center;
}

.rodape__logo{
    margin: 2em;
}

.rodape__lista{
    display: flex;
    justify-content: center;
    gap: 40px;
    list-style: none;
    margin-bottom: 1.2em;
}

.lista__link a {
    font-size: 16px;
    text-decoration: none;
    color: var(--cinza-secundario);
    position: relative;
   
}

.rodape__texto{
    margin-bottom:1.0em ;
    color: var(--cinza-secundario);
}


.lista__link a:hover{
    color: #8e93a5;
}

.lista__link a:active{
    color:var(--botao-azul);
}

.container__bottom:hover{
    background-color: var(--botao-azul-efeito);
    color: var(--cor-de-fundo);
}